<%include partials/header %>
    <h3>Some Error in Processing your Request!</h3>
    <% if(errors != undefined){ %>
        <ul>
            <li>
                <%= errors %>
            </li>
        </ul>
    <% } %>
<%include partials/footer%>