<%include partials/header %>
    <h1>Errors!</h1>
    <% if(errors != undefined){ %>
        <ul>
            <li>
                <%= errors %>
            </li>
        </ul>
    <% } %>
<%include partials/footer%>